# Dallan API
LLAMA_CLOUD_API_KEY=your llama cloud api key

# PATH
# For Vector Store
# DATA_PATH=../../data/adata_07_01_25/
# OUT_PATH=../../data/adata_07_01_25/

# For Crawl
# DATA_PATH=data/adata_07_01_25/
# OUT_PATH=data/adata_07_01_25/

# Development
DATA_PATH=../data/adata_07_01_25/
OUT_PATH=../data/adata_07_01_25/

# OPENAI
OPENAI_API_KEY=your openai key

# UNSTRUCTURE
UNSTRUCTURED_API_KEY=unstructured api key
UNSTRUCTURED_SERVER_URL=https://api.unstructuredapp.io/general/v0/general

# PINECONE
# Pathway Pinecone ENV
PINECONE_API_KEY=pinecone api key
PINECONE_ENVIRONMENT=us-east-1
PINECONE_INDEX_NAME=pathway

# VOYAGEAI
VOYAGE_API_KEY=voyage api key
